:local(.container) {
  width: 150px;
  padding: 0 5px;
  flex-shrink: 0;
  transition: all .2s;
  display: block;

  &:active {
    transform: scale(0.9);
  }
}

@keyframes loading {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

:local(.loadingWrapper){
  padding: 10px;
}

:local(.loading){
  padding-top: 200%;
  background-color: rgba(black, 0.1);
  border-radius: 4px;
  opacity: 0.2;

  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

:local(.cover) {
  width: 100%;
  border-radius: 4px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

:local(.coverSize){
  padding-top: 150%;
}

:local(.info) {
  margin-top: 10px;
  font-size: 16px;
}

:local(.title) {
  font-weight: 500;
}

:local(.author) {
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
}

:local(.date) {
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
}
